.cards {
display: flex;
justify-content: space-between;

}

.card {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px #792402;
    text-align: center;
    padding: 10px;
    border: 2px solid #b96504;
   margin-bottom: 30px;
}

.card img {
    width: 100px;
    height: 100px;
}

.cardsicons {
    font-size: 40px;
}